.transfers {
  &__menu {
    margin-bottom: rem(20);
  }

  &__info {
    margin-bottom: rem(25);
    &_payment {
      display: flex;
      justify-content: center;
    }
  }

  &__card {
    margin-bottom: rem(25);
  }
}